.btn {
  margin: 0.2em;
}

.trace {
  background-color: #eee;
  padding: 0.2em;
  font-size: 0.8em;
}

.trace-select {
  text-align: right;
  float: right;
}

.total {
  border-bottom: 1px solid;
  text-align: right
}

.total {
  color: #555;
  padding-right: 5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.total .value {
  weight: bold;
}

.work {
  font-size: 0.8em;
}

.col-sm-1,.col-sm-2 {
  padding-right: 0px;
}