.btn {
  margin: 0.2em;
}

.trace {
  background-color: #eee;
  padding: 0.2em;
  font-size: 0.8em;
}

.trace-select {
  text-align: right;
  float: right;
}

.total {
  border-bottom: 1px solid;
  text-align: right
}

.total {
  color: #444;
  padding-right: 5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.total .value {
  font-weight: bold;
}

.work {
  font-size: 0.8em;
}

.col-sm-1,.col-sm-2 {
  padding-right: 0px;
}

.time {
  text-align: right;
}

.parent {
  font-size: 70%;
}

.parent .summary {
  margin-left : -1em;
  margin-right : 1em;
}

.comment, .summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:    ellipsis;
}

.summary {
  color: #888;
}

.time .unit {
  color: #999;
}

.group {
  font-weight: bold;
}

.issue .time td {
  color: #bbb;
  width: 2em;
  font-size : 50%;
  text-align: center;
  border: 1px solid #bbb;
  background-color: #fff;
}

.parent .time td {
  background-color: #eee;
}

.issue .time .aggregate {
  color: #333;
}

.tip {
  border: 2px dotted red;
  padding: 1em;
  margin: 1em;
}